@model interview_log.Models.User
@if (!Model.Comments.Any())
{
    <div>
        <b>No comments! Be first!</b>
    </div>
    <br />
}
else
{
    <b>Comments:</b>
}

@foreach (var comment in Model.Comments)
{
    <div class="well">
        @Html.ActionLink(comment.Author, "Details/" + comment.AuthorId)
        @comment.Date
        @if (comment.AuthorId == ViewBag.CurrentUser)
        {
            string path = String.Format("/Users/DeleteComment/?id={0}&userId={1}&authorId={2}", comment.Id, Model.Id, comment.AuthorId);
            <a href="@path"><span class="glyphicon glyphicon-remove" title="delete!"></span></a>
        }
        <br />
        @comment.Text
    </div>
}
<div class="form-horizontal">
    <div class="form-group">
        @using (Html.BeginForm(actionName: "LeaveComment", controllerName: "Users"))
        {
            <b>leave a comment:</b>
            <br />
            <textarea name="text" id="text"></textarea>
            @Html.HiddenFor(recipient => Model.Id)
            <input type="submit" value="Okay." class="btn btn-dark" onclick="return validateComment(text)" />
        }

    </div>
</div>