@model interview_log.Models.User
@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>User</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">

    function showLarge(id, count) {
        smallAll(count);
        document.getElementById(id).style.display = "none";
        document.getElementById(id + '-large').style.display = "";
    }
    function smallAll(count) {
        for (var i = 0; i < count; i++) {
            document.getElementById(i + '-large').style.display = "none";
            document.getElementById(i).style.display = "";
        }
    }
</script>

@{
        
}

<h3>Images:</h3>
@{
    int i = 0;
    int imagesQuantity = ViewBag.Images.Count;
}
<table border="1">
    @foreach (var item in ViewBag.Images)
    {

        <td>
            <a href="javascript:showLarge('@i', @imagesQuantity)"><img src="~/uploads/images/@Model.Id/@item.Name" width="100" id="@i" title="click to enlarge" /></a>
            <a href="javascript:smallAll(@imagesQuantity)"><img src="~/uploads/images/@Model.Id/@item.Name" width="500" id="@i-large" style="display:none" title="click to make it small again" /></a>
            <p><a href="DeleteAttachment/@item.Id">delete!</a></p>
        </td>
        i++;
    }
</table>
<h3>files:</h3>
<div class="row">
    @foreach (var file in ViewBag.Files)
    {
        <div class="col-md-4">
            <p>
                @file.Name <br />
                @file.Size <br />
                <a href="DeleteAttachment/@file.Id">delete!</a>
            </p> 
            <p><a class="btn btn-danger"href="~/uploads/files/@Model.Id/@file.Name">Get it! &raquo;</a></p>
        </div>
    }
</div>
<form action="" method="post" enctype="multipart/form-data">

    <label for="file"></label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>
